[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/zorb"]
	path = lib/zorb
	url = https://github.com/ourzora/zorb
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/rari-capital/solmate
